body {
    margin: 0;
    width: 100%;
}

main {
    width: 80%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 808px;
    background: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
}

.banner {
    padding: 100px;
    color: white;
    text-align: right;
}

.banner-title {
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
}

.banner-description {
    margin-top: 20px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 26px;
}

.banner-btn {
    margin-top: 20px;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    color: #005FAC;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    border: 0;
}

.banner-btn:hover {
    color: white;
    background-color: #404040f6;
}

/* failure section */
.failures {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 100px auto;
    gap: 100px;
}

.failure-title {
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

.failure-description {
    width: 500px;
    color: #444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.failure-text {
    margin-top: 20px;
}

.failure-description ul {
    list-style: none;
    margin-top: 20px;
}

.failure-description ul li:before {

    content: '✓';
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
    color: #16D887;
}

.failure-img {
    width: 500px;
}

/*  plan section */
.plan-container {
    margin: 50px auto;
}

.plan-items {
    margin: 50px 0;
    display: flex;
    justify-content: space-around;

}

.plan-item {
    text-align: center;
}

.plan-title {
    color: #151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
}

.plan-item img {
    width: 93px;
}

.plan-item-title {
    color: #151414;
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 700;
}

.plan-item-info {
    color: #737272;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}

/* Mind set section */
.mindset-container {
    background-image: url('../images/gradient1.png'), url(../images/watch.png);
    background-position: center;
    border-radius: 5px;
    background-repeat: no-repeat;
    margin: 100px 0;
}

.mindset-field {
    padding: 50px 50px;
    width: 100%;
    border-radius: 8px;
}

.mindset-title {
    margin-bottom: 0;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
}

/* footer section start */
footer {
    display: flex;
    justify-content: space-between;
    padding: 100px 150px;
    background: #000;
    color: white;
}

.foot-title {
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.foot-description {
    font-style: normal;
    line-height: 26px;
}

.foot-form form input {
    display: block;
}

.input-email {
    padding: 12px 80px 12px 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.submit-btn {
    margin-top: 20px;
    padding: 15px 40px;
    color: white;
    border-radius: 5px;
    border: 0;
    background-color: #005FAC;
    font-weight: bold;
    font-size: 18px;
}

.social-link a {
    margin-right: 10px;
}

.fa-facebook-f {
    font-size: 30px;
    color: #005FAC;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 50%;

}

.fa-youtube {
    font-size: 30px;
    color: red;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.fa-twitter {
    font-size: 30px;
    color: #005FAC;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
}